header{
    background-color: rgb(236, 20, 164);
}

nav{
    text-align: right;
}

h1{
    text-align: center;
    color: white;
}

h3{
    color: white;
}

#buttonAU{
    position: absolute;
    text-align: right;
    background-color: white;
    margin: 5px;
    justify-content: right;
    display: inline-block;
    float: right;
}

.flex-container{
    display: flex;
    justify-content: right;
}

.container{
    position: absolute;
    text-align: center;
    border: 3px solid lightgray;
    background-color: rgb(236, 20, 164);
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 38%;
    padding: 50px;
    width: 150px;
    height: 300px; 
}
